tresorService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:tns="http://localhost/tresorService"
             name="TresorService"
             targetNamespace="http://localhost/tresorService">

    <types>
        <xsd:schema targetNamespace="http://localhost/tresorService">
            <xsd:element name="trouverTresorRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="nomPirate" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="trouverTresorResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="latitude" type="xsd:string"/>
                        <xsd:element name="longitude" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>

    <message name="trouverTresorRequest">
        <part name="parameters" element="tns:trouverTresorRequest"/>
    </message>

    <message name="trouverTresorResponse">
        <part name="parameters" element="tns:trouverTresorResponse"/>
    </message>

    <portType name="TresorServicePortType">
        <operation name="trouverTresor">
            <input message="tns:trouverTresorRequest"/>
            <output message="tns:trouverTresorResponse"/>
        </operation>
    </portType>

    <binding name="TresorServiceBinding" type="tns:TresorServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="trouverTresor">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <service name="TresorService">
        <port name="TresorServicePort" binding="tns:TresorServiceBinding">
            <soap:address location="http://localhost/server.php"/>
        </port>
    </service>
</definitions>
